@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

:root{
    --color1:#012E40;
    --color2:#024959;
    --color3:#026773;
    --color4:#3CA6A6;
    --color5:#F2E3D5;
    --color0:#090b0e;
    --color6: #eee;
    --textshadow: 2px 3px 10px #000;
}

body{
    background-color: var(--color0);
    font-family: "Montserrat", sans-serif;
}

section{
    margin: auto;
}

button{
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.header{
    width: 100%;
    height: 20px;
    margin: 20px auto;
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.header .bar-navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}


.header .bar-navigation img{
    width: 120px;
}

.header .bar-navigation ul{
    display: flex;
    gap: 50px;
}

.header .bar-navigation ul li a{
    color: var(--color6);
    letter-spacing: 2px;
    font-weight: 600;
    text-shadow: var(--textshadow);
}

.header .bar-navigation button{
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: var(--color2);
    color: var(--color6);
    
}

.header .bar-navigation button:hover{
    background-color: var(--color3);
    color: var(--color6);
    opacity: 1;
    transition: background-color 0.5s;
}

.header .bar-navigation button:active, .main-button:active{
    opacity: 0.8;
    transform: translateY(1px);
}

/*CONTAINER -1*/

.firt-container{
    width: 100vw;
    height: 100vh;

    position: relative;
    max-width: 100%;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.firt-container:after {
	content: "";
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
    background: linear-gradient(120deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: 2;
}


.firt-container #img-chess{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);

}

.firt-container .masc-gradient{
    background-image: linear-gradient( to top, var(--color0), transparent);
    width: 100%;
    height: 50%;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.firt-container .firt-content{
    position: absolute;
    top: 37%;
    left: 10%;
    max-width: 600px;
    z-index: 10;
}

.firt-container .firt-content .firt-content-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.firt-container .firt-content .firt-content-box h1{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color6);
    text-shadow: var(--textshadow);
}



.firt-container .firt-content .firt-content-box p{
    color: var(--color6);
}


.firt-container .firt-content .firt-content-box .main-button{
    width: 170px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--color1);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color6);
    text-shadow: var(--textshadow);
}
.firt-content-box .main-button:hover{
    background-color: var(--color3);
    color: var(--color6);
    opacity: 1;
    transition: background-color 0.5s;
}



/*container
*/

.second-container{
    width: 100vw;
    height: 100vh;

    position: relative;
    max-width: 100%;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;

}

.second-container .second-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-container .second-content .content-special{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;

}


.second-container .second-content .content-special .box-text-special{
    color: var(--color6);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    text-shadow: var(--textshadow);
}

.second-container .second-content .content-special .box-text-special h2{
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;

} 
.box-text-special h2 span{
    color: var(--color4);

}

.box-text-special p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 26px;
    color: #eeeeee9a;
}

.second-container .second-content .content-special .box-text-special h4{
    font-size: 1.1rem ;
    letter-spacing: 1px;
    font-weight: 600;
    margin: auto;
}
.box-text-special h4 span{
    color: var(--color4);

}

.content-special .box-text-special .special-button{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--color3);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color6);
    text-shadow: var(--textshadow);
    text-transform: uppercase;
    margin: auto;
}

.second-container .second-content .box-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1200px;
    margin-top: 40px;
    gap: 60px;
}

.second-container .second-content .box-cards .card{
    background-color: #00000057;
    filter: blur(20%);
    padding: 60px 60px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: var(--color6);
}